.container {
    width: 1280px;
    height: auto;

}
@font-face {
    font-family: Arimo;
    src: url("../fonts/Arimo-Regular.ttf");

}
body {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;
    background-color: #3a4965;
}
table  {
    width: 1141px;
    height: 682px;
    border: 1px solid grey;
    border-collapse: separate;
    text-transform: uppercase;
    margin-left: 60px;
    background-color: white;

}
td, th{
    border: 1px solid grey;
    border-collapse: separate;
    text-align: center;
    padding-top: 25px;

}
a {
    text-decoration: none;

}
a:hover {
    padding: 17px 55px;
    background-color: #f04a56;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
span {
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    color: #484848;
}
.main-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #484848;
}
.standart {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}
.ultimate {
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}
.premium {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}
.buy {
    padding: 17px 45px;
    background-color: #484848;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
.buy1 {
    padding: 17px 45px;
    background-color: #89c331;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
.buy2 {
    padding: 17px 45px;
    background-color: #f04a56;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
.buy3 {
    padding: 17px 45px;
    background-color: #20807c;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}